

* {
    color : #0f454b;
    padding : 0px;
    margin : 0px;
    border : 0px;
    font-weight: bolder;
    }

body {
    background-color: #edf6f9;
    position: relative;
    min-height: 50vh;
    text-align: center;
}


header,#sort_menu{
    background-color: #83c5be;
}


h1{
    text-align : center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input{
    display : inline-block;
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left : 6%;
    margin-right:6%;
}

#generate_btn,#sort_btn{
    padding: 10px 20px
}
    
#sort_scr{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px; 
    width: 100%;
    border: 1px solid #ddd;
}
    
button{
    border : solid 2px black;
    border-radius: 15px;
}
    
button:active{
    color : white;
    background-color: #0f454b;
}

    