<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Visualizer</title>
    <link href = '/static/style.css' rel = 'stylesheet'>
    <script src = "{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <div id = 'sort_dashboard'>
            <h1 id  = 'logo'>Sorting Visualizer</h1>
            <div class = 'input'>
                <label for="size" >Size :</label>
                <select name="size" id = "size">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class = "input">
                <label for = "algo">Algorithm :</label>
                <select name = "algo" id = "algo">
                    <option value = "bubble">Bubble Sort</option>
                    <option value = "selection">Selection Sort</option>
                    <option value = "insertion">Insertion Sort</option>
                    <option value = "merge">Merge Sort</option>
                </select>
            </div>
            <button id = 'generate_btn' class = 'input' onclick="sendData()">Generate</button>
            <button id = 'sort_btn' class = 'input' onclick = "startAnimation()">Sort</button>
        </div>
    </header>
    <content>
        <div id='sort_scr' class='screen'></div>
    </content>
    <footer>
    </footer>
</body>
</html>