<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Visualizer</title>
    <link href = '/static/style.css' rel = 'stylesheet'>
</head>
<body>
    <header>
        <div id = 'sort_dashboard'>
            <h1 id  = 'logo'>Sorting Visualizer</h1>
            <div class = 'input'>
                <label for="size" >Size :</label>
                <select name="size" id = "size">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <button id = 'generate_btn' class = 'input' onclick = 'generate()'>Generate</button>
            <div id = 'speed_box' class = 'input'>
                <label for="speed">Speed</label>
                <select name="speed" id = "speed">
                    <option value="0.5">0.5x</option>
                    <option value="0.75">0.75x</option>
                    <option value="1.00">1.00x</option>
                    <option value="2.00">2.00x</option>
                    <option value="4.00">4.00x</option>
                </select>
            </div>
            <button id = 'sort_btn' class = 'input'>Sort</button>
        </div>
    </header>
    <content>
        <div id='sort_menu'>
            <button id = 'bbl' class = 'sort_bn'>BUBBLE SORT</button>
            <button id = 'sel' class = 'sort_bn'>SELECTION SORT</button>
            <button id = 'ins' class = 'sort_bn'>INSERTION SORT</button>
            <button id = 'mrg' class = 'sort_bn'>MERGE SORT</button>
            <button id = 'qck' class = 'sort_bn'>QUICK SORT</button>
        </div>
        <div id='sort_scr' class='screen'>Sort Screen</div>
    </content>
    <footer>
        <script src = '/script/test.js'></script>
    </footer>
</body>
</html>